p {
   color: red;
   font-size: 2rem;
   background: blueviolet;
   background: linear-gradient();
   height: 100px;
   overflow-y: scroll; 
    position: absolute;
    top: 800px;
    left: 400px;
}
