h1 {
    color: red;
}

img {
    max-width: 100%;

    max-width: 600px;
    margin: 0 auto;
    padding: 12px;
    font-family: 'Handjet', cursive;
    line-height: 1.7;
    background-image: url();
    background-size: cover;
    color: white;
}

h2 {
    margin-top: 72px;
}