body {
    max-width: 700px;
    margin: 0 auto;
    padding: 20px;
    font-family: 'Handjet', cursive;
    line-height: 2;
    font-size: large;
    background-image: url('https://i.pinimg.com/originals/dd/dd/22/dddd220b1458dc3124516aa02528eecb.gif');
    background-size: auto ;
    color: white;
}

img {
    max-width: 70%;
    display: block;
}

h2 {
    margin-top: 72px;
}

p {
    font-size: 1.5rem;
}

video {

    max-width: 80%;
}